#ptCanvas {
	border: 3px solid black;
} 

body {
	padding-bottom: 5vh;
}

.svgtxt{
	-webkit-touch-callout: none;
	-webkit-user-select:none;
	-khtml-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	-o-user-select:none;
	user-select:none;
}

g.selectedPt {
	circle {
		fill: aquamarine;
	}
	text {
		fill: black;
	}
}

.disabledPt {
	circle {
		fill: beige;
	}
	text {
		fill: gray;
	}
}

.point text {
	fill: lightgray;
}

svg {
	max-height: 80vh;
}