<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- experiment.name %></title>
</head>
<body>
	<form action="" method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" value="<%- experiment.name %>">
		<br><br>
		<label for="description">Description</label>
		<br>
		<textarea name="description" id="description" value="<%- experiment.description %>"></textarea>
		<button type="submit">Submit</button>
		<% if (!experiment.started) { %>
			<form action="/experiments/<%= experiment.id %>/start" method="post"></form>
		<% } %>
	</form>
</body>
</html>