<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title><%- experiment.name %></title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
	<form action="" method="post">
		<label for="name">Name</label>
		<input type="text" name="name" id="name" value="<%- experiment.name %>">
		<br><br>
		<label for="description">Description</label>
		<br><br>
		<textarea name="description" id="description"><%- experiment.description %></textarea>
		<br><br>
		<button class="btn btn-primary" type="submit">Submit</button>
		
	</form>
</body>
</html>