<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Experiment control panel</title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
	<script type="module" defer src="/bundles/experiment_start.js"></script>
	<h1>
		<%- experiment.name %>
	</h1>
	<p>
		<%- experiment.description %>
	</p>
	<% if (!experiment.started) { %>
		<button id="startBtn" class="btn btn-primary" type="button">Start experiment</button>
		
	<% } %>
	<%- include('../messageQueue/device_list') %>
</body>
</html>