<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Experiment control panel</title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
	<h1>
		<%- experiment.name %>
	</h1>
	<p>
		<%- experiment.description %>
	</p>
	
</body>
</html>