<div>
	<button id="deviceBtn" class="btn btn-secondary" type="button">Display devices</button>
	<script type="module" src="/bundles/deviceList.js"></script>
	<h3>Connected devices</h3>
	<div id="deviceTable"></div>
</div>