<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Monitor</title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
    <div id = "messageListing"></div>
    <button onclick="doRefresh=!doRefresh">Toggle refreshing</button>
    <script>
        const startId = <%= lastId %>;
        var doRefresh = true;
        setInterval(()=>{
            if(doRefresh)$("#messageListing").load('/messageQueue/monitor/list/'+startId);
        },3000);
    </script>
</body>
</html>