<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample listing</title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
    <h1>Samples</h1>
    <% samples.forEach(sample => { %>
     <%- sample.name %> <a href="/points/<%- sample.id %>">Open point sets</a> <br>
    <% }); %>
    <a href="/samples/add">Add new sample</a>
</body>
</html>