<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sample listing</title>
	<%- include('../misc/bootstrap') %>
</head>
<body>
    <h1>Samples</h1>
    <table>
        <% samples.forEach(sample => { %>
            <tr>
                <td><a href="/samples/<%- sample.id %>/item" class = "d-flex btn btn-primary"><%- sample.name %></a></td>
                <td><a href="/pointsets/<%- sample.id %>" class = "d-flex btn btn-secondary" >Open point sets</a></td>
            </tr>
        <% }); %>
    </table>
   
    <a href="/samples/add">Add new sample</a>
</body>
</html>